* {
 margin: 0;
 padding: 0;
 border-style: none;
 box-sizing: border-box;
}

body {
background-image: url("https://www.walldevil.com/wallpapers/a76/3927-brick-wall.jpg");
background-repeat: repeat-y;
background-size: auto;
background-position: center center ;
height: 2000px;
}

li {
  display: inline;
  margin: 0 5em;
  border-color: #0000FF;
}

a {border-color: #000000;}

.header {
  width: 100%;
  z-index: 1;
  position: fixed;
  border-color: #FF0000;
  background-color: #888888;
}

.links {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-color: #00FF00;
}

.text {
  font-family: arial;
  text-align: center;
  padding-top: 10em;
  color: white;
}
