* {
 margin: 0;
 padding: 0;
 border-style: none;
 box-sizing: border-box;
}

body {
	background-image: url("https://www.walldevil.com/wallpapers/a76/3927-brick-wall.jpg");
	background-repeat: repeat-y;
	background-size: auto;
	background-position: center center ;
	height: auto;
	text-align: center;
}

.link {
	display: inline;
	margin: 0 5em;
	border-color: #0000FF;
}

a, a:visited {
	border-color: #000000;
   	color: blue;
 }

a:hover {
    color: red;
} 

img {
  margin-top: 3em;
  width: 600px;
}

.header {
  width: 100%;
  z-index: 1;
  position: fixed;
  border-color: #FF0000;
  background-color: #DDDDDD;
  opacity: 1;
}

.links {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-color: #00FF00;
  font-size: 1.2em;
}

.title {
  position: relative;
  top: 4em;
  font-family: arial;
  font-size: 1.5em;
  text-align: center;
  color: black;
  background-color: white;
  padding: 1em;
}

.photos {
  position: relative;
  top: 6em;
  text-align: center;
}

.telega {
	margin-top: 9em;
}

.login {
  top: 0.7em;
  position: absolute;
  right: 0.1em;
}
